[Desktop Entry]
Name=Homely
Exec=homely
Icon=com.house-designer.homely
Type=Application
Terminal=false
Categories=Graphics;Building;
Comment=Sweet Home 3D-style house designer
